@use "./constants" as *;
.what__section__content {
  margin-top: 68px;
  margin-bottom: 73px;
  h2 {
    font-family: Roboto;
    font-size: 66px;
    font-weight: 400;
    line-height: 66.75px;
    color: $colorBlack;
  }
  .what__message {
    padding-top: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    p {
      max-width: 246px;
      font-family: Roboto;
      font-size: 29px;
      font-weight: 400;
      line-height: 28.69px;
      color: $colorBlack;
    }
    h6 {
      padding-top: 19px;
      font-family: Roboto;
      font-size: 17px;
      font-weight: 400;
      line-height: 24.3px;
      color: $colorBlack;
    }
  }
}
